# Dependencies
node_modules/

# Next.js
.next/
out/

# Database
*.db
*.db-journal
*.db-shm
*.db-wal

# Environment
.env
.env.local
.env.production

# Build output
dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/
